# Xcode user data
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/

# Build output
DerivedData/
build/
*.ipa

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
